<launch>
  <!-- <node name="turtle_interface" pkg="nuturtle_robot" type="turtle_interface" output="screen">
  </node> -->

  <!-- <node name="rotation" pkg="nuturtle_robot" type="rotation" output="screen">
  </node> -->

  <!-- <node name="odometer" pkg="rigid2d" type="odometer" output="screen">
    <param name="joint_state_topic" value="/fake/joint_states"/>
  </node> -->

  <!-- <node name="fake_diff_encoders" pkg="rigid2d" type="fake_diff_encoders" output="screen">
    <param name="joint_state_topic" value="/fake/joint_states"/>
  </node> -->

  <node name="odometer" pkg="rigid2d" type="odometer" output="screen">
    <param name="joint_state_topic" value="/joint_states"/>
  </node>

  <param name="robot_description"
       command="$(find xacro)/xacro $(find nuturtle_description)/urdf/diff_drive.urdf.xacro"/>
  <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" /> -->


</launch>
